.button{
    -fx-background-color: green;
    -fx-font-size: 16px;
}

#btnAdd{
    -fx-background-color: #ff9c29;
}

.button:hover {
     -fx-background-color: #c5ff10;
 }

#btnAdd:hover  {
     -fx-background-color: #6bff33;
 }